h1{
   margin-left: 45px;
   margin-top: 30px;
}

.contenedor{
	text-align: center;
	margin-top: 40px;
}

.pedidos{
	margin-top: 70px;
}

.operaciones{
	margin-top: 20px;
}

.saldos{
	margin-top: 20px;
}


