#contenedor{
margin-left: 30px;
margin-top: 30px;
}

#inp1{
	margin-left: 10px;
}
#contenedor2{
margin-left: 40px;
margin-top: 10px;
}
#inp3{
	margin-left: 28px;
}
#inp2{
	margin-left: 44px;
}
#inp4{
	margin-left: 22px;
}
#contenedor3{
margin-left: 40px;
margin-top: 10px;
}
#inp5{
	margin-left: 13px;
}
#inp6{
	margin-left: 45px;
}
#contenedor4{
margin-left: 40px;
margin-top: 10px;
}
#inp7{
	margin-left: 15px;
}
#inp8{
	margin-left: 20px;
}
#inp10{
	padding: 5px;
	margin-left: 25px;
}
#contenedor5{
margin-left: 40px;
margin-top: 10px;
}
#inp9{
	margin-left: 32px;
}
#inp11{
	margin-left: 100px;
}
#inp12{
margin-top: 20px;
	margin-left: 250px;
	width: 20%;
	padding: 10px;
	text-decoration: none;
    font-weight: 600;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
    cursor: pointer;

}
